@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap%27');

body {
    margin: 0;
    background-color: #141d38;
}

.container {
    display: flex;
    /* border: 1px solid blue; */
}

.boxOne {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    background-color: #212F3C;
    /* height: 20%; */
    /* width: auto; */
    /* display: flex; */
    /* flex-direction: column; */
}

.jessePinkman {
    width: 20.7rem;
    height: 15rem;
    background: url('https://upload.wikimedia.org/wikipedia/en/c/c6/Jesse_Pinkman_S5B.png');
    background-repeat: no-repeat;
    background-size: 22.7rem;
    border-radius: 0.4rem 0.4rem 0 0;
    background-position-y: -7.607rem;
}

h3 {
    margin: 1rem 0 0 0;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #C5CAE9;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    padding-left: 1rem;
    font-size: 1.1rem;
    line-height: 0rem;
    color: #9FA8DA;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p {
    margin: 1rem auto;
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
    color: #9FA8DA;
    font-family: arial;
    font-family: 'Montserrat', sans-serif;
}

img {
    padding-left: 1rem;
}

.boxTwo {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    background-color: #212F3C;
    /* height: 21.5rem; */
    /*   display: flex; */
    /*   flex-direction: column; */
}

.walterWhite {
    width: 20.7rem;
    height: 15rem;
    background: url('https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png');
    background-repeat: no-repeat;
    border-radius: 0.4rem 0.4rem 0 0;
    background-size: 22.7rem;
    background-position-y: -7.607rem;
}

.uber {
    width: 4rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.boxThree {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    /* height: 21.5rem; */
    background-color: #212F3C;
    /*   display: flex; */
    /*   flex-direction: column; */
}

.hankSchrader {
    width: 20.7rem;
    height: 15rem;
    background: url('https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Hank_Schrader_S5B.png/220px-Hank_Schrader_S5B.png');
    background-repeat: no-repeat;
    background-size: 22.7rem;
    border-radius: 0.4rem 0.4rem 0 0;
    background-position-y: -7.607rem;
}

.apple {
    width: 3.4rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

.boxFour {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border: 6px solid #2C3E50 ;
    width: 20.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #a5a7a8;
    border-radius: 0.4rem;
}