body {
    margin: 0;
    background-color: rgb(44, 45, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    /* width: 40rem; */
    /* height: 25rem; */
    /* border: 1px solid red; */
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    background-color: rgb(35, 45, 72);
}

.first-box {
    /* border: 1px solid blue; */
    width: 40rem;
    height: 7rem;
    padding-top: 1rem;
    /* padding-left: 1rem; */
    display: flex;
    justify-content: center;
    background-color: #ff6e6e;
    border-radius: 1rem 1rem 0rem 0rem;
}

.image-container {
    padding-right: 2rem;
}

.img-one {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
    /* margin-right: 2rem; */
    position: relative;
}

.img-two {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: -1.2rem;
}

.img-three {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: -1.2rem;
}

.text-container {
    line-height: 1rem;
    padding-right: 3rem;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.second-box {
    /* border: 1px solid orangered; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.message {
    /* border: 1px solid green; */
    background-color: rgb(61, 70, 94);
    text-align: left;
    width: 24rem;
    /* padding-top: 3rem; */
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.img-second-box {
    /* padding-top: 0.5rem; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.img-four {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
}

.text-message-box {
    display: flex;
    /* border: 1px solid gold; */
    border-radius: 6rem;
    margin: 1rem;
    /* padding: 0.3rem; */
}

.text-message-box input {
    border: 0.1px solid #ff6e6e;
    width: 32rem;
    border-radius: 3rem 0rem 0rem 3rem;
    padding: 0.9rem;
    font-size: 1.2rem;
    background-color: rgb(61, 70, 94);
    font-weight: 500;
    color: black;
}

/* .text-message-box img {
    width: 3rem;
    height: 3rem;
    margin-left: 0.2rem;
    margin-right: 0.6rem;
    /* margin-top: 0.4rem; */
/* } */ 

.sub-message-container {
    /* border: 1px solid yellowgreen; */
    /* margin: 0; */
    display: flex;
    border: 2px solid #ff6e6e;
    border-radius: 3rem 3rem 3rem 3rem;
    /* justify-content: space-between; */
}

i {
    padding: 1rem;
    /* border: 1px solid rebeccapurple; */
    /* background-color: black; */
    font-size: 1.5rem;
}

.close-menu {
    width: 4rem;
    height: 4rem;
    background-color: #ff6e6e;
    margin-top: 1rem;
    margin-left: 36rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}