body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    /* border: 1px solid red; */
    background-color: rgb(232, 232, 232);
}

.add-task-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding: 0rem 2rem 2rem 2rem;
}

h1 {
    font-size: 2rem;
    color: rgb(24, 136, 241);
    margin: 0;
    padding-bottom: 1rem;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(24, 136, 241);
    padding-left: 2rem;
    
}

select {
    width: 13rem;
    margin-left: 2rem;
    margin-right: -1rem;
    height: 2.3rem;
    margin-bottom: 1rem;
}

input {
    width: 12.8rem;
    margin-left: 2rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    height: 2rem;
}

button {
    width: 13.2rem;
    margin-left: 2rem;
    height: 2rem;
    background-color: rgb(70, 131, 237);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.task-details-container {
    /* border: 1px solid greenyellow; */
    /* width: 50%; */
    height: 20%;
    background-color: rgb(249, 245, 245);
    margin: 7rem;
    margin-left: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 1rem;
    /* flex-direction: row;
    justify-content: space-between; */
}

.box-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-two {
    display: flex;
    flex-direction: row;
}

.box-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(63, 80, 236);
}

img {
    width: 5rem;
    height: 4rem;
    margin-top: 0.3rem;
    /* border: 3px solid white; */
    /* border-radius: 2rem; */
    
}

.image-box {
    background-color: white;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    /* padding: 0.5rem; */
    display: flex;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.4);
    margin-right: 1rem;
}

.image-container {
    /* border: 1px solid green; */
    padding-top: 1rem;
    height: 10rem;
}

.message-container {
    width: 26rem;
    height: 10rem;
    /* border: 1px solid black; */
}

.task-box {
    display: flex;
    flex-direction: row;
}

.priority {
    background-color: rgb(226, 117, 135);
    /* border: 1px solid rgb(230, 81, 106); */
    border-radius: 0.5rem;
    width: 4rem;
    margin-left: -0rem;
    height: 1.5rem;
    margin-top: 1rem;
    color: white;
    font-weight: 500;
}

.date {
    color: gray;
}

.task-name {
    font-size: 1rem;
    line-height: 0rem;
    color: rgb(38, 38, 235);
    font-weight: 600;
}

.box-two button {
    background-color: rgb(220, 216, 216);
    width: 7rem;
    margin-left: 0rem;
    /* padding-right: 1rem; */
    margin-right: 1rem;
    height: 2rem;
    color: rgb(63, 80, 236);
}

.inner-box-one {
    display: flex;
    /* flex-direction: row; */
    /* border: 1px solid orangered; */
    /* width: 17rem; */
}

.inner-box-one i {
    padding-top: 1.3rem;
    padding-right: 1rem;
    color: gray;
}

.inner-box-two {
    display: flex;
}

.inner-box-two i {
    padding-top: 1.4rem;
    padding-right: 1rem;
    color: gray;
}